.people-container {
    margin: 42px 24px;
    font-size: 16px;
}

.find-filter-container {
    position: relative;
}

.error-message {
    color: red;
    position: absolute;
    top: 55px;
}

table {
    width: 100%;
}

/** start customize material select styles */
.mat-column-name {
    width: 20%;
}
.mat-column-homeWorld {
    width: 25%;
}
.mat-column-birthYear {
    width: 25%;
}
.mat-column-films {
    width: 30%;
}
table, .mat-cell, .mat-header-cell {
    border: solid 2px #9eadba;
    color: #293845;
    font-size: 16px;
}
.mat-header-cell {
    padding-left: 24px;
    background: #eef;
    font-weight: bold;
}

.mat-cell {
    padding-left: 24px;
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
        }
    }
}

tr.mat-row, tr.mat-footer-row, tr.mat-header-row {
    height: 42px !important;
}

.mat-row:nth-child(even){
    background-color: #f7f9fa;
}  
::ng-deep .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #6558f5 !important;
} 
::ng-deep .mat-form-field {
    height: 24px;
    margin-left: 8px;
    font-size: 10px;
    .mat-form-field-infix {
        .mat-select-value {
            font-size: 16px;
        }
    }
    &.mat-form-field-type-mat-input {
        font-size: 11px;
        input {
            font-size: 16px;
        }
    }
}
::ng-deep .mat-option-text {
    font-size: 14px;
}
/** end customize material select styles */